@using Domain.Entities
@model IEnumerable<Domain.Entities.Grade>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <div class="form-group row">
                <label for="FromDate" class="col-sm-2 col-form-label">Find by name:  </label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
                </div>
            </div>
            <div class="form-group row">
                <label for="FromDate" class="col-sm-2 col-form-label">From Date </label>
                <div class="col-sm-2">
                    <input type="date" value="@ViewData["FromDate"]" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD" id="FromDate" name="fromDate" />
                </div>
                <label for="ToDate" class="col-sm-2 col-form-label">To Date </label>
                <div class="col-sm-2">
                    <input type="date" value="@ViewData["ToDate"]" class="form-control" autocomplete="off" placeholder="YYYY-MM-DD" id="ToDate" name="toDate" />
                </div>
            </div>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index"  asp-route-pageSize="@ViewData["PageSize"]">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
               Grade Name 
            </th>
            <th>
                Subject Taught
            </th>
            <th>
                Created Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeName)  
                </td>
                <td>
                    @foreach(var i in item.SubjectsTaught)
                    {
                        <span>@i.Subject.SubjectName</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)  
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GradeId">Edit</a> |
                    <a asp-action="Delete"  onclick="return confirm('Are You Sure You Want To Delete?')"  asp-route-id="@item.GradeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var pagination = ViewData["Pagination"] as Pagination;  

    var prevDisabled = pagination.PageIndex > 1 ? "" : "disabled";
    var nextDisabled = pagination.PageIndex < pagination.TotalPage ? "" : "disabled";
}
<div class="dropdown">
    <button onclick="drpdwn()" class="dropbtn">
        @(ViewData["PageSize"].ToString() != "0" 
            && ViewData["PageSize"].ToString() != "5"
            && ViewData["PageSize"].ToString() != "10"
            && ViewData["PageSize"].ToString() != "50"
            && ViewData["PageSize"].ToString() != "100"? "All":  @ViewData["PageSize"])  ↓
    </button>
    <div id="myDropdown" class="dropdown-content">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-fromDate="@ViewData["FromDate"]"
           asp-route-toDate="@ViewData["ToDate"]"
           asp-route-pageSize="0">
            All
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-fromDate="@ViewData["FromDate"]"
           asp-route-toDate="@ViewData["ToDate"]"
           asp-route-pageSize="5">
            5
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-fromDate="@ViewData["FromDate"]"
           asp-route-toDate="@ViewData["ToDate"]"
           asp-route-pageSize="10">
            10
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-fromDate="@ViewData["FromDate"]"
           asp-route-toDate="@ViewData["ToDate"]"
           asp-route-pageSize="50">
            50
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-fromDate="@ViewData["FromDate"]"
           asp-route-toDate="@ViewData["ToDate"]"
           asp-route-pageSize="100">
            100
        </a>
    </div>
</div>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(pagination.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-fromDate="@ViewData["FromDate"]"
   asp-route-toDate="@ViewData["ToDate"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@{
    for (var i = 1; pagination.TotalPage >= i; i++)
    {
        if (i == pagination.PageIndex)
        {
            <span>@i</span>
        }
        else
        {
            <a style="padding: 3px;" asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@i"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-fromDate="@ViewData["FromDate"]"
   asp-route-toDate="@ViewData["ToDate"]"
   asp-route-pageSize="@ViewData["PageSize"]">
                <span>@i</span>
            </a>
        }

    }
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(pagination.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-fromDate="@ViewData["FromDate"]"
   asp-route-toDate="@ViewData["ToDate"]"
   asp-route-pageSize="@ViewData["PageSize"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
